<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
       <title><%= htmlWebpackPlugin.options.title%> - smart电商平台</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">Smart Mall</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        
        <div class="page-wrap w">
    		<div class="loading"></div>
        	<div class="detail-wrap">
        		<div class="detail-tab-con">
        			<ul class="tab-list">
        				<li class="tab-item active">详情描述</li>
        				
        			</ul>
        		</div>
        		<div class="detail-con">
        			detail...
        				<img  class= "p-img" src="http://img.happymmall.com/f35cde2b-2f4e-4e2e-80db-a358e8bb7477.jpg" alt="xxx">
        		</div>
        	</div>
        	
        </div>

        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>