<!-- /*
* @Author: WangXianPeng
* @Date:   2020-04-08 17:38:52
* @Last Modified by:   Wang XianPeng
* @Last Modified time: 2020-04-23 05:52:02
* @Email:   1742759884@qq.com
*/

 -->
 <!DOCTYPE html>
 <html>
 <%=require('html-loader!./layout/html-head.html')%>
    <script src="bundle.js" charset="utf-8"></script>

 <body>
 	<div class="box">
 		<div class="ani1"></div>
 		<div class="ani2"></div>
 		<div class="ani3"></div>
 		<!-- <p>nihao</p>1112222333333 -->
 		
 	</div>
 	你是风儿我是沙，潺潺流水好的
 	
 	<%= require('html-loader!./layout/footer.html')%>
 </body>
 </html>